@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=PT+Serif&display=swap");
* {
  box-sizing: border-box;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "PT Serif", serif;
  --color-grey: rgb(90, 87, 87);
}
body {
  max-width: 1100px;
  margin: 0 auto;
}
header .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

header .header-nav h1 {
  font-size: 1.5rem;
  font-family: "Arvo", serif;
}
header .header-nav p,
header .header-nav a,
header .select-language {
  color: var(--color-grey);
}

header .header-nav a {
  text-decoration: none;
}

header .header-middle-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header .header-middle-part img {
  max-width: 200px;
}
#field-of-search {
  height: 50px;
}
header .number-of-phone li {
  list-style: none;
  border: 1px solid black;
  margin-top: 1px;
}
header .number-of-phone {
  margin: 0;
}

header .list-of-mine img {
  padding: 10px;
  width: 50px;
  border: 1px solid black;
}
header .cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .cart img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
/*nav-of-brands*/

.type-of-watches {
  list-style: none;
}
.type-of-watches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: black;
  min-height: 70px;
  align-items: center;
  padding-left: 0;
}
.type-of-watches li {
  position: relative;
}

.type-of-watches__variant {
  display: block;
  background: white;
  padding: 10px 20px;
  font-size: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: 1px solid black;
  border-radius: 10px;
}
.type-of-watches__variant:hover {
  background: grey;
  color: white;
  box-shadow: 1px 5px 10px -10px black;
  transition: all 0.3s ease;
  border: 1px solid whitesmoke;
}

/*inside-menu*/
.nav-of-brands li ul {
  position: absolute;
  min-width: 106px;
  padding: 0;
  display: none;
}
.nav-of-brands li > ul li {
  border: 1px solid rgb(14, 13, 13);
  list-style: none;
  background: gray;
}

.nav-of-brands li:hover > ul {
  display: block;
}

.type-of-watches__brands a {
  text-decoration: none;
  color: white;
}
.type-of-watche-list:hover {
  background-color: white;
}
.type-of-watches__items:hover {
  color: black;
}
/*box-for-image*/
.box-for-images {
  display: flex;
  justify-content: space-around;
}
.watch-for-men {
  background-image: url(../img/watch-for-men.jpg);
  background-position: center;
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.watch-for-women {
  background-image: url(../img/watch-for-woman.jpg);
  background-position: center;
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.watch-for-child {
  background-image: url(../img/child.jpg);
  background-position: center;
  background-size: cover;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.watch-for-floor {
  background-image: url(../img/watch-on-the-table.jpg);
  background-position: center;
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.watch-for-men h2,
.watch-for-women h2,
.watch-for-child h2,
.watch-for-floor h2 {
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.watch-for-men p,
.watch-for-women p,
.watch-for-child p,
.watch-for-floor p {
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.check-my-opinions {
  display: none;
}

/*main-page*/
.list-of-the-top {
  display: flex;
  justify-content: space-around;
  background: rgb(192, 194, 199);
}

.list-of-the-top__special {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background: cornsilk;
}
.list-of-the-top__special h2,
.list-of-the-top__special p {
  padding: 5px;
}

@media (max-width: 800px) {
  .box-for-images,
  .list-of-the-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .box-for-images__type h2,
  .box-for-images__type p {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .check-my-opinions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .box-for-images,
  .list-of-the-top {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}
/*origin-of-watch-in-ukraine*/
.origin-of-watch-in-ukraine {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.origin-of-watch-in-ukraine li {
  list-style: none;
  padding: 5px;
  border: 1px solid black;
}
.origin-of-watch-in-ukraine h2 {
  margin: 0 auto;
}
.list-of-watches-by-alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*article class="how-choice-wirstwatch"*/

@media (max-width: 800px) {
  .for-small-version {
    display: none;
  }
}
@media (min-width: 800px) {
  .hidden-block {
    display: none;
  }
}
@media (max-width: 800px) {
  .hidden-block {
    display: block;
    border: 2px solid black;
  }
  .hidden-block h2 {
    font-size: 1rem;
    padding-left: 10px;
    display: inline-block;
  }
  .hidden-block p {
    padding-left: 20px;
  }
}
